p,
div,
ul {
  font-size: 1.1rem;
  letter-spacing: -0.003em;
  line-height: 32px;
  font-weight: 400;
  hyphens: auto;
  color: rgba(var(--app-foreground-rgb), 0.8);
}

app-product-headline,
h1,
h2,
h3,
h4 {
  color: var(--app-foreground);
}

h1 {
  font-size: 2rem;
}

ion-segment-button {
  font-size: 1.4rem;

  &::part(native) {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

.offers {
  display: flex;
  column-gap: 0.5rem;
  overflow-x: auto;

  app-plan-column {
    flex: 1;
    display: flex;
    max-width: 400px;
  }
}

.plan {
  padding: 0.5rem;
  min-width: 250px;
  border: 2px solid var(--color);
  border-radius: 0.5rem;
  line-height: 1.2rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  .plan__action {
    ion-button {
      --color: var(--color);
      --border-color: var(--color);
    }
  }

  .features {
    max-height: 30vh;
    overflow-y: auto;
  }

  .feature__group {
    font-size: 0.8rem;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: center;
    text-transform: uppercase;
    color: var(--faint-color);
  }

  ion-icon {
    font-size: 1.2rem;
    --ionicon-stroke-width: 64px;
  }
}

.discount-tag {
  display: inline-block;
  margin-right: 10px;
  border: 2px solid rgba(47, 223, 117, 0.5);
  border-radius: 8px;
  padding: 5px;
}
